html, body {
    margin: var(--size-0);
    padding: var(--size-0);
    width: var(--size-100P);
    background-color: var(--mainBackground-color);
}

main {
    min-height: calc(var(--size-100vh) - var(--size-188px));
}
